.respuesta{
    background-image: url(https://browsecat.net/sites/default/files/beautiful-space-wallpapers-94587-734954-6243009.png);
    color: rgb(204, 204, 204);
    padding: 16px;
    text-align: center;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://w0.peakpx.com/wallpaper/184/204/HD-wallpaper-pantalla-neon-blue-lineas-metal-neon-pantalla.jpg);
}
section{
    background-image: url(https://w0.peakpx.com/wallpaper/424/45/HD-wallpaper-bubbles-bubble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo{
    text-align: center;
    background-image: url(https://www.xtrafondos.com/descargar.php?id=3480&resolucion=3840x2160);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20PX;
}
header h1{
    background-color: rgba(0, 0, 0,0.7);
    padding: 20px;
    color: rgb(68, 96, 255);
    font-size: 40PX;
}
.letritas{
    color: rgb(0, 140, 255);
    text-align: center;
    background-color: rgba(0, 0, 0,0.7);
}
.respuesta{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/282/278/373/artistic-neon-hd-wallpaper-preview.jpg);
    color: rgb(204, 204, 204);
    padding: 16px;
    text-align: center;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    font-size: 20px;
    background-color: rgb(12, 30, 133);
    color: white;
    border-radius: 20px;
    padding: 10px; 
    
}
input[type=number]{
    width: 20%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(5, 226, 255);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.te{
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0,0.7);
}
p{
    padding: 40px;
    background-color: rgba(0, 0, 0,0.7);
    color: white;
    font-size: 20px;
}